%html
  %head
    %title 
      - unless @q
        Hansard Search
      - else
        = @q + ' (Hansard Search)'
    %style 
      body {width:38em;margin-left:8em;margin-top:4em;margin-bottom:4em;font-family:Helvetica,sans-serif;}
      div.result {padding:0.75em 0;line-height:140%;}
      div.result .chair {color:#666;}
      div.result .ref {color:#666;font-size:0.9em;}
      div.result .subject {display:block;}
      div.result blockquote.text {margin:0;}
      div.result .nav {color:green;font-style:normal;font-size:0.9em;display:block}
      div.result .nav a,
      div.result .nav a:visited {color:green;text-decoration:none}
      div.result .nav a:hover {text-decoration:underline}
      blockquote.text em {font-weight:bold;font-style:normal;}
      div#showing-only {background-color: #ebeff9;padding: 0.75em 0.5em;}
      a#remove-facet {float:right;}
      center#pagination {padding-top: 1em;}
      center#pagination .results {padding: 1em;color:gray;}
  %body
    %form#search
      %input{:name => "q", :value => @q}
      %input{:type => "Submit", :value => "Search"}
    - if @q
      - if @section_filter
        #showing-only
          Showing only results from <strong>#{@section_filter}</strong>
          %a#remove-facet{:href => "?q=#{params[:q]}"}
            Show all
      - if @section_facets and @section_facets.length > 1
        %ul.facets
          %li.facet All Hansard content
          - @section_facets.each do |section|
            %li.facet
              %a{:href => "?q=#{params[:q]}&section=#{section[:name]}", :title => "#{section[:name]} items"}= section[:name]
      #results
        - @results.each_hit_with_result do |hit, result|
          - if result.url
            .result
              %span.subject
                %a{:href => result.url, :title => result.url}
                  = highlight(result.subject, @q)
              %span.nav= url_segments_line(result.house, result.section, result.published_at, result.url)
              %span.ref
                = "H" + result.house[0,1] + " Deb vol " + result.volume
                - if result.columns
                  =' cc' + result.columns
                - if result.part
                  =' (Part ' + result.part + ')'
              - if result.chair
                %span.chair= ' - Chair: ' + result.chair
            
              %blockquote.text
                - if highlight = hit.highlight(:text)
                  = "..." + highlight.format { |word| "<b>#{word}</b>" } + "..."
                
    - # - if @q
    - #   =haml :_pagination